<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header(${title})"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="wpk-bid" content="dta_1_1196893985">
    <script type="text/javascript" src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.10.3/dingtalk.open.js"></script>
    <script>
        !(function (c, i, e, b) {
            var h = i.createElement("script");
            var f = i.getElementsByTagName("script")[0];
            h.type = "text/javascript";
            h.crossorigin = true;
            h.onload = function () {
                c[b] || (c[b] = new c.wpkReporter({bid: "dta_1_1196893985"}));
                c[b].installAll()
            };
            f.parentNode.insertBefore(h, f);
            h.src = e
        })(window, document, "https://g.alicdn.com/woodpeckerx/jssdk??wpkReporter.js", "__wpk");</script>
    <link th:href="@{/dzk/demo.css}" rel="stylesheet" media="all"/>
    <link th:href="@{/dzk/basic.css}" rel="stylesheet" media="min-width: 800px"/>
    <link th:href="@{/dzk/notification.css}" rel="stylesheet" media="all"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--[if IE]>
    <![endif]-->
    <style type="text/css">
        .imgContain {
            width: 840px;
            pointer-events:none;
        }
        /* 内容 */
        .content {
            border: 2px solid #eae2e1; /* 边框 */
            padding: 13px 16px; /* 内边距 */
            border-radius: 5px; /* 边框圆角 */
            display: flex; /* 弹性盒模型 */
            cursor: pointer; /* 鼠标样式 */
            font-size: 15px; /* 字体大小 */
            font-family: sans-serif;
            background-image: url("../../img/witer.png");
        }
        .content.heart-active { /* 切换后样式 */
            border-color: #cb455d; /* 修改边框颜色 */
            background: #fbd0d8; /*  修改背景颜色*/
        }
    </style>

    <script type="text/javascript" th:src="@{/dzk/jquery.min.1.7.js}"></script>
    <script type="text/javascript" th:src="@{/dzk/turn.js}"></script>
    <script type="text/javascript" th:src="@{/dzk/jquery.qrcode.min.js}"></script>
    <script type="text/javascript" th:src="@{/dzk/modernizr.2.5.3.min.js}"></script>
    <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
</head>
<body class="gray-bg">

<div id="dataDiv" class="wrapper wrapper-content animated fadeInRight" style="display: flex;background-color: #89898905;display: none;">
    <div style="display: flex;width: 1000px;margin: auto;margin-top: 5px;">
        <div style="width: 840px;margin: auto;">
            <img class="imgContain" th:src="@{${attach.attachUrl}}">
            <button  class="content"  >点赞</button>
            <span id="num" th:text="${num}"></span>
        </div>
    </div>
</div>

    <th:block th:include="include :: footer"/>

    <script type="text/javascript" th:inline="javascript">

    </script>
    <script type="text/javascript" th:inline="javascript">
        $(function() {
            // if (dd.env.platform=="notInDingTalk") {
            //     alert("请用钉钉打开！");
            //     return;
            // } else {
                $('#dataDiv').show();
                var attach = [[${attach}]];
                if (attach == null || attach.attachUrl == null) {
                    $.modal.msgError("本期刊没有上传内容");
                }
            // }
                var show = [[${praiseMark}]];
                if (!show){
                    $('.content').toggleClass('heart-active')
                }

        })
        /**
         * 点赞数
         * @type {number}
         */
        $(document).ready(function() {
            var flag = [[${praiseMark}]]
            // 根据类名添加点击事件
            $('.content').click(function() {
                var n=document.getElementById("num");
                // 根据类切换类名
                $(this).toggleClass('heart-active')
                if (flag){
                    n.innerHTML=parseInt(n.innerHTML)+1;
                    flag = false;
                    thumbsUp(flag)
                }else {
                    n.innerHTML=parseInt(n.innerHTML)-1;
                    flag = true;
                    thumbsUp(flag)
                }
            })
        });
        function thumbsUp(flag) {
            $.ajax({
                type: "Get",
                cache: false,
                url: "/dzk/ebook/attach/thumbsUp",
                data: {"flag":flag},
                dataType: "json",
                success: function (result) {
                    if (result.code==0){
                        console.log(result.msg)
                    }else {
                        console.log(result.msg)
                    }
                },
                error: function (result) {
                    console.log(result.msg)
                }
            });
        }
    </script>
    </body>
</html>
