<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header(${title})"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="wpk-bid" content="dta_1_1196893985">
    <script type="text/javascript"  src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.10.3/dingtalk.open.js"></script>
    <script>
        !(function (c, i, e, b) {
            var h = i.createElement("script");
            var f = i.getElementsByTagName("script")[0];
            h.type = "text/javascript";
            h.crossorigin = true;
            h.onload = function () {
                c[b] || (c[b] = new c.wpkReporter({bid: "dta_1_1196893985"}));
                c[b].installAll()
            };
            f.parentNode.insertBefore(h, f);
            h.src = e
        })(window, document, "https://g.alicdn.com/woodpeckerx/jssdk??wpkReporter.js", "__wpk");</script>
    <link th:href="@{/dzk/demo.css}" rel="stylesheet" media="all"/>
    <link th:href="@{/dzk/basic.css}" rel="stylesheet" media="min-width: 800px"/>
    <link th:href="@{/dzk/notification.css}" rel="stylesheet" media="all"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--[if IE]>
    <![endif]-->
    <style type="text/css">
        .divContain {
            width: 840px;
            height: 150px;
            margin: 0 0 25px 0;
            float: left;
        }
        .imgContain {
            width: 250px;
            height: 150px;
        }
    </style>

    <script type="text/javascript" th:src="@{/dzk/jquery.min.1.7.js}"></script>
    <script type="text/javascript" th:src="@{/dzk/turn.js}"></script>
    <script type="text/javascript" th:src="@{/dzk/jquery.qrcode.min.js}"></script>
    <script type="text/javascript" th:src="@{/dzk/modernizr.2.5.3.min.js}"></script>
    <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
</head>
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight" style="display: flex;background-color: #89898905;">
    <div style="display: flex;width: 1000px;margin: auto;margin-top: 10px;">
        <div style="width: 840px;margin: auto;">
            <div th:each="item,itemStat:${attachList}">
                <div class="divContain" th:onclick="readAttach([[${item.id}]])">
                    <div style="float: left;height: 100%;width: 590px;position: relative;background-color: #8989890f;">
                        <div style="height: 110px;vertical-align: middle;display: table-cell;">
                            <p style="margin: 0 0 0 10px;font-size: 36px;font-family: 黑体;">
                                [[${item.remark}]]
                            </p>
                        </div>
                        <div style="height: 40px;">
                            <p style="margin-left: 10px;position: absolute;bottom: 0px;font-size: 24px;font-family: 黑体;">
                                [[${#dates.format(item.updateTime, 'yyyy-MM-dd HH:mm:ss')}]]   [[${item.author}]]
                            </p>
                        </div>
                    </div>
                    <div style="float: right;">
                        <img class="imgContain" th:src="@{${item.coverUrl}}">
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<th:block th:include="include :: footer" />

<script type="text/javascript" th:inline="javascript">
    $(function () {
        var attachList=[[${attachList}]];
        if (attachList.length == 0) {
            $.modal.msgError("本刊暂时没有任何期刊");
        }
    })

    function readAttach(id) {
        window.location.href = '/dzk/ebook/attach/readAttach?id=' + id + "&from=pc";;
    }

</script>
</body>
</html>
