<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexing.dzk.mapper.BookPraiseMapper">
  <resultMap id="BaseResultMap" type="com.hexing.dzk.domain.BookPraise">
    <!--@mbg.generated-->
    <!--@Table book_praise-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="flag" jdbcType="BIT" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, book_id, create_time, update_time, flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from book_praise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from book_praise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hexing.dzk.domain.BookPraise" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into book_praise (user_id, book_id, create_time, 
      update_time, flag)
    values (#{userId,jdbcType=BIGINT}, #{bookId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hexing.dzk.domain.BookPraise" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into book_praise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hexing.dzk.domain.BookPraise">
    <!--@mbg.generated-->
    update book_praise
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hexing.dzk.domain.BookPraise">
    <!--@mbg.generated-->
    update book_praise
    set user_id = #{userId,jdbcType=BIGINT},
      book_id = #{bookId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2023-02-21-->
  <select id="countByBookId" resultType="java.lang.Integer">
    select count(1)
    from book_praise
    where book_id=#{bookId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2023-02-21-->
  <select id="selectByUserIdAndBookId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from book_praise
    where user_id=#{userId,jdbcType=BIGINT} and book_id=#{bookId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2023-02-22-->
  <delete id="deleteByBookIdAndUserId">
    delete from book_praise
    where book_id=#{bookId,jdbcType=INTEGER} and user_id=#{userId,jdbcType=BIGINT}
  </delete>
</mapper>