<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexing.dzk.mapper.BookCommentMapper">
  <resultMap id="BaseResultMap" type="com.hexing.dzk.domain.BookComment">
    <!--@mbg.generated-->
    <!--@Table book_comment-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, book_id, user_name, `comment`, `status`, create_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from book_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from book_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hexing.dzk.domain.BookComment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into book_comment (user_id, book_id, user_name, 
      `comment`, `status`, create_time, 
      remark)
    values (#{userId,jdbcType=BIGINT}, #{bookId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, now(),
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hexing.dzk.domain.BookComment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into book_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="comment != null">
        `comment`,
      </if>
      <if test="status != null">
        `status`,
      </if>
        create_time,
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
        createTime=now(),
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hexing.dzk.domain.BookComment">
    <!--@mbg.generated-->
    update book_comment
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        `comment` = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
        create_time = now(),
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hexing.dzk.domain.BookComment">
    <!--@mbg.generated-->
    update book_comment
    set user_id = #{userId,jdbcType=BIGINT},
      book_id = #{bookId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      `comment` = #{comment,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      create_time = now(),
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--auto generated by MybatisCodeHelper on 2023-02-23-->
  <select id="selectAllByBookId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from book_comment
    where book_id=#{bookId,jdbcType=INTEGER}
    ORDER BY create_time desc
  </select>

  <!--auto generated by MybatisCodeHelper on 2023-02-24-->
  <select id="countByBookId" resultType="java.lang.Integer">
    select count(1)
    from book_comment
    where book_id=#{bookId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2023-02-28-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from book_comment
    <where>
      <if test="userName != null and userName != ''">
        and user_name like concat('%', #{userName}, '%')
      </if>
      <if test="status != null and userName != ''">
        and `status`=#{status,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>