<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexing.dzk.mapper.UtilsMapper">

    <select id="getDeptOne" parameterType="java.lang.String" resultType="java.lang.String">
     select (select name from mdm_dept_focompany where (T.company != null  or T.company != '') and externalCode=T.company) departmentOne
               from (SELECT company FROM mdm_job_empjob WHERE personId=#{userid}) T
    </select>
</mapper>