<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header(${title})"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="wpk-bid" content="dta_1_1196893985">
    <script type="text/javascript"  src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.10.3/dingtalk.open.js"></script>
    <script>
        !(function (c, i, e, b) {
            var h = i.createElement("script");
            var f = i.getElementsByTagName("script")[0];
            h.type = "text/javascript";
            h.crossorigin = true;
            h.onload = function () {
                c[b] || (c[b] = new c.wpkReporter({bid: "dta_1_1196893985"}));
                c[b].installAll()
            };
            f.parentNode.insertBefore(h, f);
            h.src = e
        })(window, document, "https://g.alicdn.com/woodpeckerx/jssdk??wpkReporter.js", "__wpk");</script>
    <link th:href="@{/dzk/demo.css}" rel="stylesheet" media="all"/>
    <link th:href="@{/dzk/basic.css}" rel="stylesheet" media="min-width: 800px"/>
    <link th:href="@{/dzk/notification.css}" rel="stylesheet" media="all"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--[if IE]>
    <![endif]-->
    <style type="text/css">
        .divContain {
            width: 108px;
            height: 190px;
            margin: 0 5px 22px 0;
            float: left;
        }
        .imgContain {
            width: 108px;
            height: 190px;
        }
    </style>

    <script type="text/javascript" th:src="@{/dzk/jquery.min.1.7.js}"></script>
    <script type="text/javascript" th:src="@{/dzk/turn.js}"></script>
    <script type="text/javascript" th:src="@{/dzk/jquery.qrcode.min.js}"></script>
    <script type="text/javascript" th:src="@{/dzk/modernizr.2.5.3.min.js}"></script>
    <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
</head>
<body class="gray-bg">

<div id="dataDiv" class="wrapper wrapper-content animated fadeInRight" style="display: flex;background-color: #89898905;display: none;">
    <div style="display: flex;width: 350px;margin: auto;margin-top: 5px;">
        <div style="width: 340px;margin: auto;">
            <div th:each="item,itemStat:${bookList}">
                <div class="divContain" th:onclick="goAttachList([[${item.id}]])">
                    <div>
                        <img class="imgContain" th:src="@{${item.coverUrl}}">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<th:block th:include="include :: footer" />

<script type="text/javascript" th:inline="javascript">
    $(function() {
        if (dd.env.platform=="notInDingTalk") {
            alert("请用钉钉打开！");
            return;
        } else {
            $('#dataDiv').show();
            var bookList=[[${bookList}]];
            if (bookList.length == 0) {
                $.modal.msgError("无任何电子刊");
            }
        }
    })

    function goAttachList(id) {
        window.location.href = '/dzk/ebook/attach/jump/detail?id=' + id + "&status=1&from=phone";
    }

</script>
</body>
</html>
