<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexing.dzk.mapper.DzkLilstMapper">
    
    <resultMap type="DzkLilst" id="DzkLilstResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="titleImg"    column="title_img"    />
        <result property="sort"    column="sort"    />
        <result property="type"    column="type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDzkLilstVo">
        select id, title, title_img, sort, type, create_time, update_time from dzk_lilst
    </sql>

    <select id="selectDzkLilstList" parameterType="DzkLilst" resultMap="DzkLilstResult">
        <include refid="selectDzkLilstVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="titleImg != null  and titleImg != ''"> and title_img = #{titleImg}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="type != null "> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectDzkLilstById" parameterType="Long" resultMap="DzkLilstResult">
        <include refid="selectDzkLilstVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDzkLilst" parameterType="DzkLilst" useGeneratedKeys="true" keyProperty="id">
        insert into dzk_lilst
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="titleImg != null">title_img,</if>
            <if test="sort != null">sort,</if>
            <if test="type != null">type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="titleImg != null">#{titleImg},</if>
            <if test="sort != null">#{sort},</if>
            <if test="type != null">#{type},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDzkLilst" parameterType="DzkLilst">
        update dzk_lilst
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="titleImg != null">title_img = #{titleImg},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDzkLilstById" parameterType="Long">
        delete from dzk_lilst where id = #{id}
    </delete>

    <delete id="deleteDzkLilstByIds" parameterType="String">
        delete from dzk_lilst where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>